/* Page: course */
.page-course .hero__header h1 {
  position: relative;
  z-index: 0;
}

.hero__price-value {
  font-family: var(--font-heading);
  font-size: 36px;
}

.course-for-whom__subtitle {
  font-family: var(--font-heading);
  font-size: 22px;
  margin-bottom: 30px;
}

.course-for-whom__title,
.course-why__title,
.course-lessons__title {
  margin-bottom: 20px;
  padding-right: 100px;
}

.course-for-whom__list {
  list-style: none;
  padding-left: 0;
}

.course-for-whom__list-item {
  position: relative;
  padding-left: 36px;
  font-size: 20px;
}

.course-for-whom__list-item + .course-for-whom__list-item {
  margin-top: 16px;
}

.course-for-whom__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 20px;
  height: 20px;
  background-image: url("../../svg/chk-red.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.course-why {
  padding-block: 48px;
}

.course-why__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: start;
}

.course-why__subtitle {
  margin-top: 15px;
  font-size: 20px;
}

.course-why__media {
  width: 100%;
  position: relative;
}

.course-why__decorations {
  display: none;
}

.course-why__media-wrap {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.course-why__media-img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  will-change: transform;
}

.course-lessons__item-title {
  margin-bottom: 10px;
}

.course-lessons__subtitle {
  margin-top: 15px;
  font-size: 20px;
}

.course-lessons__item {
  margin-top: 0;
  margin-bottom: 0;
}

.course-lessons__divider {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
}

.course-lessons__divider-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000000;
  transition: width 0s linear;
}

.course-lessons__divider.is-animated .course-lessons__divider-line {
  width: 100%;
  transition: width 0.8s ease-out;
}

.course-results {
  padding-block: 0px;
}

.course-results__grid .col-4 {
  display: flex;
}

.course-results__card {
  background: #FFEBEC;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  width: 100%;
}

.course-results__grid .col-4:nth-child(2) .course-results__card {
  background: #f9dffd;
}

.course-results__icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 40px;
}

.course-cta__title {
  margin: 0px;
  color: var(--color-white);
}

.course-cta__text {
  color: #fff;
    font-size: 20px;
    margin: 10px 0 20px;
}

.course-cta__content {
  padding: 40px;
  background: var(--gradient-brand);
  border-radius: 30px
}

.course-cta .form__label {
  color: var(--color-white);
}

.course-cta .form__privacy {
  color: var(--color-white);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .course-for-whom__title,
  .course-why__title,
  .course-lessons__title {
    padding-right: 0px;
  }

  .course-for-whom__list-item {
    font-size: 17px;
  }

  .course-why__subtitle {
    font-size: 17px;
  }

  .course-lessons__subtitle {
    font-size: 17px;
  }

  .course-results__card {
    padding: 20px;
  }

  .course-cta__text {
    font-size: 17px;
  }

  .course-results__icon {
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .page-course .hero__wrapper {
    position: relative;
  }

  .page-course .hero__header h1 {
    position: static;
  }

  .course-why__decorations {
    display: block;
    position: absolute;
    width: 180px;
    height: 160px;
    top: -60px;
    left: -100px;
    z-index: 10;
    pointer-events: none;
}

  .course-why__decorations-figure {
    position: absolute;
    display: block;
  }

  .course-why__decorations-figure--top {
    top: 0;
    left: 0;
    will-change: transform;
  }

  .course-why__decorations-figure--bottom {
    bottom: 0;
    right: 0;
  }
}
