.site-footer {
  background: #000;
  color: var(--color-white);
}

.site-header {
  background: transparent;
}

.site-header .container {
  background: #fff;
}

.site-header .col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.has-hero .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
  }
  
  .hero--with-header-bg {
    background: red;
  }
