.container {
  width: min(var(--container-max), 100% - 2 * var(--container-pad-mob));
  margin-inline: auto;
  padding-inline: var(--container-pad-mob);
}

.row {
  gap: var(--grid-gap-mob);
}

@media (min-width: 768px) {
  .row {
    gap: var(--grid-gap-tab);
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: var(--container-pad-desk);
  }

  .row {
    gap: var(--grid-gap-desk);
  }
}


