.container {
  width: min(var(--container-max), 100% - 2 * var(--container-pad-mob));
  margin-inline: auto;
  padding-inline: var(--container-pad-mob);
}

.row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--grid-gap-mob);
}

.col-12,
.col-8,
.col-6,
.col-4,
.col-3 {
  grid-column: span 12;
}

.section {
  padding-block: 48px;
}

@media (min-width: 768px) {
  .row {
    gap: var(--grid-gap-tab);
  }

  .col-12 {
    grid-column: span 12;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-3 {
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .container {
    width: min(var(--container-max), 100% - 2 * var(--container-pad-desk));
    padding-inline: var(--container-pad-desk);
  }

  .row {
    gap: var(--grid-gap-desk);
  }

  .section {
    padding-block: 72px;
  }
}


